<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>VirtusaRecruitment</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ApplicantDetails</display-name>
    <servlet-name>ApplicantDetails</servlet-name>
    <servlet-class>com.virtusa.vrps.controller.ApplicantDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplicantDetails</servlet-name>
    <url-pattern>/ApplicantDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FinalSelection</display-name>
    <servlet-name>FinalSelection</servlet-name>
    <servlet-class>com.virtusa.vrps.controller.FinalSelection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FinalSelection</servlet-name>
    <url-pattern>/FinalSelection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HrSelection</display-name>
    <servlet-name>HrSelection</servlet-name>
    <servlet-class>com.virtusa.vrps.controller.HrSelection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HrSelection</servlet-name>
    <url-pattern>/HrSelection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JobList</display-name>
    <servlet-name>JobList</servlet-name>
    <servlet-class>com.virtusa.vrps.controller.JobList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobList</servlet-name>
    <url-pattern>/JobList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.virtusa.vrps.controller.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostJobs</display-name>
    <servlet-name>PostJobs</servlet-name>
    <servlet-class>com.virtusa.vrps.controller.PostJobs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostJobs</servlet-name>
    <url-pattern>/PostJobs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.virtusa.vrps.controller.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Required</display-name>
    <servlet-name>Required</servlet-name>
    <servlet-class>com.virtusa.vrps.controller.Required</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Required</servlet-name>
    <url-pattern>/Required</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Selection</display-name>
    <servlet-name>Selection</servlet-name>
    <servlet-class>com.virtusa.vrps.controller.Selection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Selection</servlet-name>
    <url-pattern>/Selection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Validate</display-name>
    <servlet-name>Validate</servlet-name>
    <servlet-class>com.virtusa.vrps.controller.Validate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Validate</servlet-name>
    <url-pattern>/Validate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidateEmp</display-name>
    <servlet-name>ValidateEmp</servlet-name>
    <servlet-class>com.virtusa.vrps.controller.ValidateEmp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateEmp</servlet-name>
    <url-pattern>/ValidateEmp</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.virtusa.vrps.db.ConnDBList</listener-class>
  </listener>
  <listener>
    <listener-class>com.virtusa.vrps.db.ConnDBList</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>EmpValidate</display-name>
    <servlet-name>EmpValidate</servlet-name>
    <servlet-class>com.virtusa.vrps.controller.EmpValidate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpValidate</servlet-name>
    <url-pattern>/EmpValidate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpLogout</display-name>
    <servlet-name>EmpLogout</servlet-name>
    <servlet-class>com.virtusa.vrps.controller.EmpLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpLogout</servlet-name>
    <url-pattern>/EmpLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowAdminSelect</display-name>
    <servlet-name>ShowAdminSelect</servlet-name>
    <servlet-class>com.virtusa.vrps.controller.ShowAdminSelect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAdminSelect</servlet-name>
    <url-pattern>/ShowAdminSelect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowTrSelect</display-name>
    <servlet-name>ShowTrSelect</servlet-name>
    <servlet-class>com.virtusa.vrps.controller.ShowTrSelect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowTrSelect</servlet-name>
    <url-pattern>/ShowTrSelect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FinalSelect</display-name>
    <servlet-name>FinalSelect</servlet-name>
    <servlet-class>com.virtusa.vrps.controller.FinalSelect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FinalSelect</servlet-name>
    <url-pattern>/FinalSelect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminValidate</display-name>
    <servlet-name>AdminValidate</servlet-name>
    <servlet-class>com.virtusa.vrps.controller.AdminValidate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminValidate</servlet-name>
    <url-pattern>/AdminValidate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApplicantData</display-name>
    <servlet-name>ApplicantData</servlet-name>
    <servlet-class>com.virtusa.vrps.controller.ApplicantData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplicantData</servlet-name>
    <url-pattern>/ApplicantData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JobPost</display-name>
    <servlet-name>JobPost</servlet-name>
    <servlet-class>com.virtusa.vrps.controller.JobPost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobPost</servlet-name>
    <url-pattern>/JobPost</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddEmployee</display-name>
    <servlet-name>AddEmployee</servlet-name>
    <servlet-class>com.virtusa.vrps.controller.AddEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEmployee</servlet-name>
    <url-pattern>/AddEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpHome</display-name>
    <servlet-name>EmpHome</servlet-name>
    <servlet-class>com.virtusa.vrps.controller.EmpHome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpHome</servlet-name>
    <url-pattern>/EmpHome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpHomeServlet</display-name>
    <servlet-name>EmpHomeServlet</servlet-name>
    <servlet-class>com.virtusa.vrps.controller.EmpHomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpHomeServlet</servlet-name>
    <url-pattern>/EmpHomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RateCommentServlet</display-name>
    <servlet-name>RateCommentServlet</servlet-name>
    <servlet-class>com.virtusa.vrps.controller.RateCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RateCommentServlet</servlet-name>
    <url-pattern>/RateCommentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JobApplication</display-name>
    <servlet-name>JobApplication</servlet-name>
    <servlet-class>com.virtusa.vrps.controller.JobApplication</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobApplication</servlet-name>
    <url-pattern>/JobApplication</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JSRegister</display-name>
    <servlet-name>JSRegister</servlet-name>
    <servlet-class>com.virtusa.vrps.controller.JSRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSRegister</servlet-name>
    <url-pattern>/JSRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JSValidate</display-name>
    <servlet-name>JSValidate</servlet-name>
    <servlet-class>com.virtusa.vrps.controller.JSValidate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSValidate</servlet-name>
    <url-pattern>/JSValidate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Upload</display-name>
    <servlet-name>Upload</servlet-name>
    <servlet-class>com.virtusa.vrps.controller.Upload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Upload</servlet-name>
    <url-pattern>/Upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProfileServlet</display-name>
    <servlet-name>EditProfileServlet</servlet-name>
    <servlet-class>com.virtusa.vrps.controller.EditProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProfileServlet</servlet-name>
    <url-pattern>/EditProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewStatus</display-name>
    <servlet-name>ViewStatus</servlet-name>
    <servlet-class>com.virtusa.vrps.controller.ViewStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewStatus</servlet-name>
    <url-pattern>/ViewStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePassword</display-name>
    <servlet-name>ChangePassword</servlet-name>
    <servlet-class>com.virtusa.vrps.controller.ChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassword</servlet-name>
    <url-pattern>/ChangePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JSLogout</display-name>
    <servlet-name>JSLogout</servlet-name>
    <servlet-class>com.virtusa.vrps.controller.JSLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSLogout</servlet-name>
    <url-pattern>/JSLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JSChangePassword</display-name>
    <servlet-name>JSChangePassword</servlet-name>
    <servlet-class>com.virtusa.vrps.controller.JSChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSChangePassword</servlet-name>
    <url-pattern>/JSChangePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JSForgotPass</display-name>
    <servlet-name>JSForgotPass</servlet-name>
    <servlet-class>com.virtusa.vrps.controller.JSForgotPass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSForgotPass</servlet-name>
    <url-pattern>/JSForgotPass</url-pattern>
  </servlet-mapping>
</web-app>